* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body {
     font-family: 'Inter', sans-serif;
}

a {
     text-decoration: none;
}

/* .content {
     height: 100%;
     display: flex;
     align-items: center;
} */

.fake-border {
     border: 1px solid black;
}

.content {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}


.container {
     /* border: 2px solid black; */
     padding: 0 10px;
     width: 90%;
     height: 90%;
     margin: auto;
}

@media (min-width: 640px) {

     .content {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .container {
          border: 2px solid grey;
          border-radius: 30px;
          padding: 20px 50px;
          width: 86%;
          max-width: 50%;
          height: 90vh;
          margin: auto;
     }

     .container > div:nth-child(2) > p{
          width: 80%; 
     }
}

.phone-container {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.btn {
     /* all:initial; */
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     box-sizing: border-box;
     /* padding: 0 80px; */
     letter-spacing: 1px;
     font-size: 1em;
     font-weight: 400;
     border-radius: 26px;
     width: 20em;
     height: 3em;
     background-color: #EB612F;
}

.container > div:nth-child(2) > p{
     /* margin-top: 15px; */
     padding-right: 30px;
     /* text-align: center; */
}

/* .container > div:nth-child(3) > p {
     margin-top: ;
} */

.container > div:nth-child(3){
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.page-heading {
     font-size: 1.7em;
     color: #1E2228;
}

.description {
     font-size: 1em;
     color: #1E2228;
     margin-top: 12px;
}

/* ======================================================================= */

.number-container {
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
}

.number-container > div:nth-child(1) {
     margin-top: 25px;
     font-size: 1.3em;
}

.number-container > div:nth-child(2) {
     margin-top: 40px;
}

.number-container > div:nth-child(3) {
     border: 2px solid black;
     display: flex;
     align-items: center;
     max-width: 360px;
     flex-direction: row;
     margin-top: 40px;
     border-radius: 10px;
}

/* .number-container > div:nth-child(3) :focus {
     border: 2px solid red;
} */

.number-container > div:nth-child(4) {
     display: flex;
     justify-content: flex-end;
     margin-top: 90px;
}

.number-container > div:nth-child(4) >a >div {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;  
     width: 40px;
     height: 40px;
     border-radius: 50%; 
     background-color: #EB612F;
}


.number-input {
     /* border: 2px solid #1E2228; */
     border-radius: 10px;
     width: 80%;
     max-width: 360px;
     height: 3.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     font-size: 1em;
     color: #DDDDDD;
     margin: auto 0;
     padding-left: 5px;
   }

input {
     border:0;
     outline:0;
     padding-left: 10px;
     box-shadow: none;
     background-color: transparent;
     font-size: 1em;
     /* caret-color: transparent; */
}

/* input:focus {
     outline:none!important;
} */

/* input[type="number"]
{
    transform: scale(1.2);
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ========================================================= */

input[type=number] {
     height: 45px;
     width: 45px;
     font-size: 25px;
     text-align: center;
     border: 2px solid #EFEFF0;
     border-radius: 5px;
     margin-right: 10px;
     padding: 0 2px;
 }
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }