* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body {
     font-family: 'Inter', sans-serif;
}

a {
     text-decoration: none;
     /* all: unset; */
}

a:visited {
     color: white;
}

*:focus {
     outline: none;
 }

.fake-border {
     border: 1px solid black;
}

.content {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container {
     padding: 0 10px;
     width: 90%;
     height: 90%;
     margin: auto;
}

@media (min-width: 640px) {
     .container {
          /* border: 2px solid grey; */
          /* border-radius: 30px; */
          padding: 20px 50px;
          width: 86%;
          max-width: 50%;
          height: 90vh;
          margin: auto;
     }

     .btn {
          margin: 0 auto;
          max-width: 70%;
     }

}

#start-page {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 90vh;
}

.page-heading {
     font-size: 1.7em;
     /* font-size: 23px; */
     color: #1E2228;
}

.description {
     margin-top: 12px;
     font-size: 1em;
     /* font-size: 13px; */
     color: #1E2228;
}

.btn {
     /* all:initial; */
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     box-sizing: border-box;
     /* padding: 0 80px; */
     letter-spacing: 1px;
     font-size: 1em;
     font-weight: 400;
     border-radius: 26px;
     width: 100%;
     height: 50px;
     background-color: #EB612F;
}


#phone-number-page > div {
     margin-top: 20px;
     height: 60%;
}

#verify-number-page > div {
     margin-top: 20px;
     height: 70%;
}

#create-username-page > div {
     margin-top: 20px;
     height: 70%;
}

#genre-selection-page > div {
     height: 90%;
     margin-top: 20px;
}

#social-skill-page > div {
     height: 90%;
     margin-top: 20px;
}

#phone-number-page > div > div:nth-child(2) {
     margin-top: 40px;
}

#verify-number-page > div > div:nth-child(2) {
     margin-top: 40px;
}

#create-username-page > div > div:nth-child(2) {
     margin-top: 55px;
}

#genre-selection-page > div > div:nth-child(2) {

     margin-top: 55px;
}

#social-skill-page > div > div:nth-child(2) {

     margin-top: 55px;
}

#phone-number-page > div > div:nth-child(3) {
     margin-top: 45px;
     border: 2px solid #1E2228;
     border-radius: 10px;
     padding-left: 10px;
     height: 50px;
     display: flex;
     align-items: center;
}

#create-username-page > div > div:nth-child(3) {
     margin-top: 50px;
     border: 2px solid #1E2228;
     border-radius: 10px;
     padding-left: 10px;
     height: 50px;
     display: flex;
     align-items: center;
}

#verify-number-page > div > div:nth-child(3) {
     margin-top: 40px;
}

#genre-selection-page > div > div:nth-child(3) {
     margin-top: 20px;
}

#social-skill-page > div > div:nth-child(3) {
     margin-top: 20px;
}

#genre-selection-page > div > div:nth-child(3) >form > div {
     margin-top: 20px;
     padding-left: 15px;
     display: flex;
     align-items: center;
     border: 2px solid #EFEFF0;
     border-radius: 10px;
     height: 50px;
}

#social-skill-page > div > div:nth-child(3) > div {
     margin-top: 20px;
     padding-left: 15px;
     display: flex;
     align-items: center;
     border: 2px solid #EFEFF0;
     border-radius: 10px;
     height: 50px;
}

label {
     display: flex;
     align-items: center;
     margin-left: 15px;
     font-size: 1.1em;
     /* border: 1px solid black; */
     width: 100%;
     height: 100%;
}


#phone-number-page > div > div:nth-child(4) {
     margin-top: 60px;
     display: flex;
     justify-content: flex-end;
}

#verify-number-page > div > div:nth-child(4) {
     margin-top: 30px;
     display: flex;
     justify-content: flex-end;
}

#create-username-page > div > div:nth-child(4) {
     margin-top: 60px;
     display: flex;
     justify-content: flex-end;
}

#phone-number-page > div > div:nth-child(4) > a > div {
     background-color: #EB612F;
     color: white;
     border-radius: 50%; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
}

#genre-selection-page > div > div:nth-child(4) > a > div {
     background-color: #EB612F;
     color: white;
     border-radius: 50%; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
}

#social-skill-page > div > div:nth-child(4) > a > div {
     background-color: #EB612F;
     color: white;
     border-radius: 50%; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
}

/* #genre-selection-page > div > div:nth-child(4) > a > div {
     background-color: #EB612F;
     color: white;
     border-radius: 50%; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
} */

#create-username-page > div > div:nth-child(4) > a > div {
     background-color: #EB612F;
     color: white;
     border-radius: 50%; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
}

#verify-number-page > div > div:nth-child(4) > a > div {
     background-color: #EB612F;
     color: white;
     border-radius: 50%; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
}
.feather {
     height: 20px;
     width: 20px;
}

.number-input {
     width: 50%;
     height: 30px;
     margin-left: 5px;
     font-size: 1em;
     box-shadow: none;
}

.username-input {
     margin-left: 15px;
     width: 75%;
     height: 30px;
     font-size: 1.1em;
}

/* ==================== Black-Bars ================================= */

#create-username-page > div > div:nth-child(1) {
     display: flex;
     justify-content: space-between;
     border-radius: 2px;
}

#create-username-page > div > div:nth-child(1) > div {
     width: 23%;
     height: 4px;
     background-color: #EFEFF0;
     border-radius: 2px;
}

/* ------------------------------------------------------------ */

#genre-selection-page > div > div:nth-child(1) {
     display: flex;
     justify-content: space-between;
     border-radius: 2px;
}    

#genre-selection-page > div > div:nth-child(1) > div {
     width: 23%;
     height: 4px;
     background-color: #EFEFF0;
     border-radius: 2px;
}

/* --------------------------------------------------------------- */


#social-skill-page > div > div:nth-child(1) {
     display: flex;
     justify-content: space-between;
     border-radius: 2px;
}    

#social-skill-page > div > div:nth-child(1) > div {
     width: 23%;
     height: 4px;
     background-color: #EFEFF0;
     border-radius: 2px;
}


/* ==================== Black-Bars ================================= */

input {
     background-color: transparent;
     border: 0px solid;
     color: #1E2228;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
     height: 45px;
     width: 45px;
     font-size: 25px;
     text-align: center;
     border: 2px solid #EFEFF0;
     border-radius: 5px;
     margin-right: 10px;
     padding: 0 2px;
 }
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 .floating {
	position:fixed;
	bottom:40px;
	right: 25px;
}

::-webkit-input-placeholder {
     color: #C8CACC;
     font-size: 1em;
}

#circle {
     width: 160px;
     height: 160px;
     background-color: #EFEFF0;
     border-radius: 50%;
}

.nav {
     background-color: white;
     height: 50px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     position: fixed;
     bottom: 0;
     z-index: 10;
}

.nav-icons {
     color: #1E2228;
     width: 30px;
     height: 30px;
}

#welcome-content {
     background-color: #1E2228;
}

#welcome-container > div:nth-child(1) {
     margin-top: 10px;
}

#welcome-container > div > p:nth-child(1) {
     font-size: 1.1em;
}

#welcome-container > div > p:nth-child(2) {
     margin-top: 5px;
     color: white;
     font-size: 1.5em;
     font-weight: 700;
}

#welcome-container > div:nth-child(2) {
     margin-top: 30px;
}

.comp-head {
     display: flex;
     font-weight: 700;
     justify-content: flex-start;
     gap: 15px;
     color: white;
}
