* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body {
     font-family: 'Inter', sans-serif;
}

a {
     text-decoration: none;
}

.fake-border {
     border: 1px solid black;
}

.container {
     /* border: 2px solid black; */
     width: 86%;
     height: 95vh;
     margin: 0 auto;
}

@media (min-width: 640px) {
     .container {
          /* border: 2px solid black; */
          width: 86%;
          max-width: 40%;
          height: 100vh;
          margin: 0 auto;
     }
}

.phone-container {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.btn {
     /* all:initial; */
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     box-sizing: border-box;
     /* padding: 0 80px; */
     letter-spacing: 1px;
     font-size: 1em;
     font-weight: 400;
     border-radius: 26px;
     width: 20em;
     height: 3em;
     background-color: #EB612F;
}

.container > div:nth-child(2) > p{
     /* margin-top: 15px; */
     padding-right: 30px;
     /* text-align: center; */
}

/* .container > div:nth-child(3) > p {
     margin-top: ;
} */

.container > div:nth-child(3){
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.page-heading {
     font-size: 1.7em;
     color: #1E2228;
}

.description {
     font-size: 1em;
     color: #1E2228;
     margin-top: 12px;
}

/* ======================================================================= */

.number-container {
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
}

.number-container > div:nth-child(1) {
     margin-top: 40px;
}

.number-container > div:nth-child(2) {
     margin-top: 40px;
}

.number-container > div:nth-child(3) {
     border: 2px solid black;
     display: flex;
     max-width: 360px;
     flex-direction: row;
     margin-top: 40px;
     border-radius: 10px;
}

.number-container > div:nth-child(4) {
     display: flex;
     justify-content: flex-end;
     margin-top: 90px;
}

.number-container > div:nth-child(4) >div {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;  
     width: 40px;
     height: 40px;
     border-radius: 50%; 
     background-color: #EB612F;
}


.number-input {
     /* border: 2px solid #1E2228; */
     border-radius: 10px;
     width: 80%;
     max-width: 360px;
     height: 3.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     font-size: 1.3em;
     color: #DDDDDD;     
     padding-left: 25px;
   }

input {
     border:0;
     outline:0; 
     box-shadow: none;
     background-color: transparent;
}

input:focus {
     outline:none!important;
}